# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment
.env
.env.*

# Node
node_modules/
dist/
build/

# Virtual Environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db